
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
<head>
    <title>凉城</title> 
</head>
<body style="background-image:url(@Url.Content("~/img/LC/bg.jpg"));width:99%;height:97%;">
    <div style="text-align:center;padding-top:18%;font-size:20px;">
        
        <form action="~/Lc/Img" method="post">
            <input type="password" name="pwd" style="line-height:30px;background-color:transparent;border:0px;border-bottom:1px solid white" placeholder="请输入密码" />
            <input type="submit" value="进•入" style="font-weight:700;line-height:30px;background-color:transparent;color:white" />
        </form>
    </div>
    <footer style="color:white;text-align:center;padding-top:16%">
        <p>

            @Html.Raw("欢迎来自<span style='color:black'>" + ViewBag.cityname + "</span>的朋友")
            <br />
            @Html.Raw(ViewBag.models)
            <hr />
            本网页版权 凉城在京商会
            <br />
            本网站由<a href="http://zgztxh.com/">北京中泰祥和科技有限公司</a>提供技术支持与服务

        </p>
    </footer>
</body>
</html>
